* {
  margin: 0;
  padding: 0;
}

/* appearance of list */
.center-logo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 80px;
  transform: translateY(200px);
}

.recipe-options {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 60px;
  list-style-type: none;
  transform: translateY(220px);
}

/* link styling */

a {
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  transition-duration: 500ms;
  transition-property: all;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  color: black;
  font-size: 70px;
}

li {
  padding: 10px;
}

/* recipe site styling*/

.main-display {
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.title {
  text-align: center;
  font-size: 64px;
  transform: translateY(50px);
}
.picture {
  width: 75%;
  height: auto;
  transform: translateY(75px) translateX(100px);
}
.subheading {
  text-align: center;
  font-size: 50px;
  padding-bottom: 20px;
}
.desc {
  transform: translateY(50px);
}
.desc-text {
  font-size: 20px;
  text-align: center;
}
.ingredients {
  transform: translateY(50px);
}
.steps {
  transform: translateY(50px);
}

#home-link {
  font-size: 120px;
  position: relative;
  bottom: 50px;
  left: 50px;
}
#home-link.potato {
  bottom: -65px;
}
